In [1]:
import nltk

In [2]:
user_text = input("Enter some text")

Enter some textThere are three reasons why I prefer jogging to other sports. One reason is that jogging is a cheap sport. I can practise it anywhere at any time with no need for a ball or any other equipment. Another reason why I prefer jogging is that it is friendly to my heart. I don’t have to exhaust myself or do excessive efforts while jogging. Finally, I prefer this sport because it is safe. It isn’t as risky as other sports like gymnastics, racing or horseback riding. For all these reasons, I consider jogging the best sport of all.

In [7]:
from nltk.tokenize import sent_tokenize, word_tokenize

In [5]:
tokenized_sentence = sent_tokenize(user_text)
tokenized_sentence

['There are three reasons why I prefer jogging to other sports.',
 'One reason is that jogging is a cheap sport.',
 'I can practise it anywhere at any time with no need for a ball or any other equipment.',
 'Another reason why I prefer jogging is that it is friendly to my heart.',
 'I don’t have to exhaust myself or do excessive efforts while jogging.',
 'Finally, I prefer this sport because it is safe.',
 'It isn’t as risky as other sports like gymnastics, racing or horseback riding.',
 'For all these reasons, I consider jogging the best sport of all.']

In [8]:
tokenized_words = word_tokenize(user_text)
tokenized_words

['There',
 'are',
 'three',
 'reasons',
 'why',
 'I',
 'prefer',
 'jogging',
 'to',
 'other',
 'sports',
 '.',
 'One',
 'reason',
 'is',
 'that',
 'jogging',
 'is',
 'a',
 'cheap',
 'sport',
 '.',
 'I',
 'can',
 'practise',
 'it',
 'anywhere',
 'at',
 'any',
 'time',
 'with',
 'no',
 'need',
 'for',
 'a',
 'ball',
 'or',
 'any',
 'other',
 'equipment',
 '.',
 'Another',
 'reason',
 'why',
 'I',
 'prefer',
 'jogging',
 'is',
 'that',
 'it',
 'is',
 'friendly',
 'to',
 'my',
 'heart',
 '.',
 'I',
 'don',
 '’',
 't',
 'have',
 'to',
 'exhaust',
 'myself',
 'or',
 'do',
 'excessive',
 'efforts',
 'while',
 'jogging',
 '.',
 'Finally',
 ',',
 'I',
 'prefer',
 'this',
 'sport',
 'because',
 'it',
 'is',
 'safe',
 '.',
 'It',
 'isn',
 '’',
 't',
 'as',
 'risky',
 'as',
 'other',
 'sports',
 'like',
 'gymnastics',
 ',',
 'racing',
 'or',
 'horseback',
 'riding',
 '.',
 'For',
 'all',
 'these',
 'reasons',
 ',',
 'I',
 'consider',
 'jogging',
 'the',
 'best',
 'sport',
 'of',
 'all',
 '.']

In [9]:
from nltk.probability import FreqDist

In [11]:
count_of_words = FreqDist(tokenized_words)
count_of_words

FreqDist({'.': 8, 'I': 6, 'jogging': 5, 'is': 5, 'prefer': 3, 'to': 3, 'other': 3, 'sport': 3, 'it': 3, 'or': 3, ...})

In [14]:
from nltk.corpus import stopwords

In [16]:
stopwords_list = stopwords.words('English')

In [21]:
clean_text = []
for word in tokenized_words:
    if word == '.':
        continue
    if not word in stopwords_list:
        clean_text.append(word)
        
len(tokenized_words), len(clean_text)

(113, 56)

In [22]:
clean_text

['There',
 'three',
 'reasons',
 'I',
 'prefer',
 'jogging',
 'sports',
 'One',
 'reason',
 'jogging',
 'cheap',
 'sport',
 'I',
 'practise',
 'anywhere',
 'time',
 'need',
 'ball',
 'equipment',
 'Another',
 'reason',
 'I',
 'prefer',
 'jogging',
 'friendly',
 'heart',
 'I',
 '’',
 'exhaust',
 'excessive',
 'efforts',
 'jogging',
 'Finally',
 ',',
 'I',
 'prefer',
 'sport',
 'safe',
 'It',
 '’',
 'risky',
 'sports',
 'like',
 'gymnastics',
 ',',
 'racing',
 'horseback',
 'riding',
 'For',
 'reasons',
 ',',
 'I',
 'consider',
 'jogging',
 'best',
 'sport']

In [23]:
from nltk.stem import PorterStemmer

In [24]:
ps = PorterStemmer()

In [25]:
ps.stem('jogging')

'jog'

In [26]:
ps.stem('flying')

'fli'

In [27]:
ps.stem('features')

'featur'

In [28]:
ps.stem('racing')

'race'

In [29]:
ps.stem('Put')

'put'

In [30]:
ps.stem('industrialization')

'industri'

In [31]:
for word in tokenized_words:
    print(word,"->",ps.stem(word))

There -> there
are -> are
three -> three
reasons -> reason
why -> whi
I -> I
prefer -> prefer
jogging -> jog
to -> to
other -> other
sports -> sport
. -> .
One -> one
reason -> reason
is -> is
that -> that
jogging -> jog
is -> is
a -> a
cheap -> cheap
sport -> sport
. -> .
I -> I
can -> can
practise -> practis
it -> it
anywhere -> anywher
at -> at
any -> ani
time -> time
with -> with
no -> no
need -> need
for -> for
a -> a
ball -> ball
or -> or
any -> ani
other -> other
equipment -> equip
. -> .
Another -> anoth
reason -> reason
why -> whi
I -> I
prefer -> prefer
jogging -> jog
is -> is
that -> that
it -> it
is -> is
friendly -> friendli
to -> to
my -> my
heart -> heart
. -> .
I -> I
don -> don
’ -> ’
t -> t
have -> have
to -> to
exhaust -> exhaust
myself -> myself
or -> or
do -> do
excessive -> excess
efforts -> effort
while -> while
jogging -> jog
. -> .
Finally -> final
, -> ,
I -> I
prefer -> prefer
this -> thi
sport -> sport
because -> becaus
it -> it
is -> is
safe -> safe
. -> .
It -> It
isn -> isn
’ -> ’
t -> t
as -> as
risky -> riski
as -> as
other -> other
sports -> sport
like -> like
gymnastics -> gymnast
, -> ,
racing -> race
or -> or
horseback -> horseback
riding -> ride
. -> .
For -> for
all -> all
these -> these
reasons -> reason
, -> ,
I -> I
consider -> consid
jogging -> jog
the -> the
best -> best
sport -> sport
of -> of
all -> all
. -> .

In [32]:
from nltk.stem.wordnet import WordNetLemmatizer

In [33]:
lm = WordNetLemmatizer()

In [34]:
lm.lemmatize('flying')

'flying'

In [35]:
lm.lemmatize('features')

'feature'

In [36]:
from nltk import pos_tag

In [37]:
pos_tag(tokenized_words)

[('There', 'EX'),
 ('are', 'VBP'),
 ('three', 'CD'),
 ('reasons', 'NNS'),
 ('why', 'WRB'),
 ('I', 'PRP'),
 ('prefer', 'VBP'),
 ('jogging', 'VBG'),
 ('to', 'TO'),
 ('other', 'JJ'),
 ('sports', 'NNS'),
 ('.', '.'),
 ('One', 'CD'),
 ('reason', 'NN'),
 ('is', 'VBZ'),
 ('that', 'IN'),
 ('jogging', 'NN'),
 ('is', 'VBZ'),
 ('a', 'DT'),
 ('cheap', 'JJ'),
 ('sport', 'NN'),
 ('.', '.'),
 ('I', 'PRP'),
 ('can', 'MD'),
 ('practise', 'VB'),
 ('it', 'PRP'),
 ('anywhere', 'RB'),
 ('at', 'IN'),
 ('any', 'DT'),
 ('time', 'NN'),
 ('with', 'IN'),
 ('no', 'DT'),
 ('need', 'NN'),
 ('for', 'IN'),
 ('a', 'DT'),
 ('ball', 'NN'),
 ('or', 'CC'),
 ('any', 'DT'),
 ('other', 'JJ'),
 ('equipment', 'NN'),
 ('.', '.'),
 ('Another', 'DT'),
 ('reason', 'NN'),
 ('why', 'WRB'),
 ('I', 'PRP'),
 ('prefer', 'VBP'),
 ('jogging', 'VBG'),
 ('is', 'VBZ'),
 ('that', 'IN'),
 ('it', 'PRP'),
 ('is', 'VBZ'),
 ('friendly', 'JJ'),
 ('to', 'TO'),
 ('my', 'PRP$'),
 ('heart', 'NN'),
 ('.', '.'),
 ('I', 'PRP'),
 ('don', 'VBP'),
 ('’', 'JJ'),
 ('t', 'NNS'),
 ('have', 'VBP'),
 ('to', 'TO'),
 ('exhaust', 'VB'),
 ('myself', 'PRP'),
 ('or', 'CC'),
 ('do', 'VB'),
 ('excessive', 'JJ'),
 ('efforts', 'NNS'),
 ('while', 'IN'),
 ('jogging', 'VBG'),
 ('.', '.'),
 ('Finally', 'RB'),
 (',', ','),
 ('I', 'PRP'),
 ('prefer', 'VBP'),
 ('this', 'DT'),
 ('sport', 'NN'),
 ('because', 'IN'),
 ('it', 'PRP'),
 ('is', 'VBZ'),
 ('safe', 'JJ'),
 ('.', '.'),
 ('It', 'PRP'),
 ('isn', 'JJ'),
 ('’', 'JJ'),
 ('t', 'NN'),
 ('as', 'RB'),
 ('risky', 'JJ'),
 ('as', 'IN'),
 ('other', 'JJ'),
 ('sports', 'NNS'),
 ('like', 'IN'),
 ('gymnastics', 'NNS'),
 (',', ','),
 ('racing', 'VBG'),
 ('or', 'CC'),
 ('horseback', 'NN'),
 ('riding', 'NN'),
 ('.', '.'),
 ('For', 'IN'),
 ('all', 'PDT'),
 ('these', 'DT'),
 ('reasons', 'NNS'),
 (',', ','),
 ('I', 'PRP'),
 ('consider', 'VBP'),
 ('jogging', 'VBG'),
 ('the', 'DT'),
 ('best', 'JJS'),
 ('sport', 'NN'),
 ('of', 'IN'),
 ('all', 'DT'),
 ('.', '.')]

In [38]:
import pandas as pd

In [40]:
tweet_df = pd.read_csv('Tweets.csv')

In [48]:
tweet_df.shape

(14640, 15)

In [58]:
clean_messages = []

for i in range(tweet_df.shape[0]):
    clean_text = ''
    current_text = word_tokenize(tweet_df['text'].values[i])
    for word in current_text:
        if word == '@' or word == 'VirginAmerica' or word == 'United' or word == 'SouthwestAir' or word == 'USAirways' or word == 'americanair' or word == 'AmericanAir' or word == 'jetblue' or word == 'delta' or word == 'Delta':
            continue
        if not word in stopwords_list:
            clean_text = clean_text + ' ' + word
        
    clean_messages.append(clean_text)

len(clean_messages)

14640

In [59]:
tweet_df['clean_text'] = clean_messages

In [60]:
tweet_df[['text','clean_text']]

,text,clean_text
0,@VirginAmerica What @dhepburn said.,What dhepburn said .
1,@VirginAmerica plus you've added commercials t...,plus 've added commercials experience ... tac...
2,@VirginAmerica I didn't today... Must mean I n...,I n't today ... Must mean I need take another...
3,@VirginAmerica it's really aggressive to blast...,'s really aggressive blast obnoxious `` enter...
4,@VirginAmerica and it's a really big bad thing...,'s really big bad thing
...,...,...
14635,@AmericanAir thank you we got on a different f...,thank got different flight Chicago .
14636,@AmericanAir leaving over 20 minutes Late Flig...,leaving 20 minutes Late Flight . No warnings ...
14637,@AmericanAir Please bring American Airlines to...,Please bring American Airlines # BlackBerry10
14638,"@AmericanAir you have my money, you change my ...","money , change flight , n't answer phones ! A..."
14639,@AmericanAir we have 8 ppl so we need 2 know h...,8 ppl need 2 know many seats next flight . Pl...

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
from sklearn.feature_extraction.text import CountVectorizer

In [63]:
cv = CountVectorizer()

In [64]:
cv

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [66]:
X = cv.fit_transform(tweet_df['clean_text'])

In [67]:
X

<14640x15020 sparse matrix of type '<class 'numpy.int64'>'
	with 146482 stored elements in Compressed Sparse Row format>

In [69]:
from sklearn.model_selection import train_test_split

In [71]:
tweet_df

,tweet_id,airline_sentiment,airline_sentiment_confidence,negativereason,negativereason_confidence,airline,airline_sentiment_gold,name,negativereason_gold,retweet_count,text,tweet_coord,tweet_created,tweet_location,user_timezone,clean_text
0,570306133677760513,neutral,1.0000,NaN,NaN,Virgin America,NaN,cairdin,NaN,0,@VirginAmerica What @dhepburn said.,NaN,2015-02-24 11:35:52 -0800,NaN,Eastern Time (US & Canada),What dhepburn said .
1,570301130888122368,positive,0.3486,NaN,0.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica plus you've added commercials t...,NaN,2015-02-24 11:15:59 -0800,NaN,Pacific Time (US & Canada),plus 've added commercials experience ... tac...
2,570301083672813571,neutral,0.6837,NaN,NaN,Virgin America,NaN,yvonnalynn,NaN,0,@VirginAmerica I didn't today... Must mean I n...,NaN,2015-02-24 11:15:48 -0800,Lets Play,Central Time (US & Canada),I n't today ... Must mean I need take another...
3,570301031407624196,negative,1.0000,Bad Flight,0.7033,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica it's really aggressive to blast...,NaN,2015-02-24 11:15:36 -0800,NaN,Pacific Time (US & Canada),'s really aggressive blast obnoxious `` enter...
4,570300817074462722,negative,1.0000,Can't Tell,1.0000,Virgin America,NaN,jnardino,NaN,0,@VirginAmerica and it's a really big bad thing...,NaN,2015-02-24 11:14:45 -0800,NaN,Pacific Time (US & Canada),'s really big bad thing
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14635,569587686496825344,positive,0.3487,NaN,0.0000,American,NaN,KristenReenders,NaN,0,@AmericanAir thank you we got on a different f...,NaN,2015-02-22 12:01:01 -0800,NaN,NaN,thank got different flight Chicago .
14636,569587371693355008,negative,1.0000,Customer Service Issue,1.0000,American,NaN,itsropes,NaN,0,@AmericanAir leaving over 20 minutes Late Flig...,NaN,2015-02-22 11:59:46 -0800,Texas,NaN,leaving 20 minutes Late Flight . No warnings ...
14637,569587242672398336,neutral,1.0000,NaN,NaN,American,NaN,sanyabun,NaN,0,@AmericanAir Please bring American Airlines to...,NaN,2015-02-22 11:59:15 -0800,"Nigeria,lagos",NaN,Please bring American Airlines # BlackBerry10
14638,569587188687634433,negative,1.0000,Customer Service Issue,0.6659,American,NaN,SraJackson,NaN,0,"@AmericanAir you have my money, you change my ...",NaN,2015-02-22 11:59:02 -0800,New Jersey,Eastern Time (US & Canada),"money , change flight , n't answer phones ! A..."
14639,569587140490866689,neutral,0.6771,NaN,0.0000,American,NaN,daviddtwu,NaN,0,@AmericanAir we have 8 ppl so we need 2 know h...,NaN,2015-02-22 11:58:51 -0800,"dallas, TX",NaN,8 ppl need 2 know many seats next flight . Pl...

In [72]:
X_train, X_test, Y_train, Y_test = train_test_split(X, tweet_df['airline_sentiment'])

In [74]:
nb = MultinomialNB()

In [75]:
nb.fit(X_train, Y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [76]:
y_pred = nb.predict(X_test)

In [77]:
from sklearn.metrics import accuracy_score

In [78]:
accuracy_score(y_pred, Y_test)

0.7565573770491804

In [79]:
print(X)

  (0, 14526)	1
  (0, 4797)	1
  (0, 11627)	1
  (1, 10419)	1
  (1, 14170)	1
  (1, 1964)	1
  (1, 4025)	1
  (1, 5657)	1
  (1, 12905)	1
  (2, 13309)	1
  (2, 9217)	1
  (2, 8820)	1
  (2, 9358)	1
  (2, 12921)	1
  (2, 2329)	1
  (2, 13488)	1
  (3, 11001)	1
  (3, 2052)	1
  (3, 3066)	1
  (3, 9709)	1
  (3, 5447)	1
  (3, 6724)	1
  (3, 5732)	1
  (3, 2261)	1
  (3, 8375)	1
  :	:
  (14637, 2102)	1
  (14637, 3259)	1
  (14637, 2234)	1
  (14637, 3048)	1
  (14638, 5996)	1
  (14638, 3674)	1
  (14638, 2353)	1
  (14638, 2334)	1
  (14638, 9096)	1
  (14638, 8657)	1
  (14638, 10284)	1
  (14638, 4028)	1
  (14638, 12718)	1
  (14639, 9358)	1
  (14639, 5996)	2
  (14639, 11814)	1
  (14639, 8059)	1
  (14639, 9430)	2
  (14639, 10420)	1
  (14639, 14026)	1
  (14639, 10203)	1
  (14639, 8704)	1
  (14639, 12492)	1
  (14639, 10514)	1
  (14639, 10798)	1